
body{
	margin:0;
	padding:0;
	background-color: black;
}

.fixed {
	height: 900px;
	position: fixed;
}


#block {
	right: 288px;
	position: absolute;
	height: 600px;
	width: 300px;
	margin: 0px;
	background-color: black;

	img {
		display: block;
		width: 24%;
		margin-left: 17%;

	}
}

#block_2 {
	left: 288px;
	position: absolute;
	height: 600px;
	width: 300px;
	margin: 0px;
	background-color: transparent;
}

#block_2 img {
	position: absolute;
}

img {
	width: 100%;
}

.triggerNu .copy {
	float: right;
	text-align: right;
}

body section .stuck {
	right: 224px;
	/*top: 0px;*/
	z-index: 999;
	visibility: visible;
	/*bottom: auto;*/
	bottom: 0px;
	position: fixed !important;
}

body section #block_2.stuck {
	top: 0px;
}

body section .stuckBtm {
	right: 224px;
	/*top: 0px;*/
	z-index: 999;
	visibility: visible;
	/*bottom: auto;*/
	bottom: 0px;
	position: absolute !important;
}

.rise_title {
	width: 600px;
	height: 200px;
	background-color: transparent;
	left: 50%;
	margin-left: -300px;
	position: fixed;
	top: 350px;
}

#article {
	   box-shadow: 5px -2px 10px rgba(0,0,0,0.8);
}

/*
.content_wrapper {
	width: 970px;
	margin: 0px auto;
}*/





/* Introduction */

#home article { background: url("../images/intro.png") no-repeat scroll center top transparent; height: 458px; position: absolute; text-indent: -9999px; top: 291px; width: 100%; }

#about article { background: url("../images/parallax.png") no-repeat scroll center top transparent; height: 458px; position: absolute; text-indent: -9999px; top: 291px; width: 100%; }

.ie-warning { display: none;}


.lt-ie9 {
	.ie-warning {
		display: block;
		height: 100%;
		width: 100%;
		background-color: black;
		position: fixed;
		z-index: 99999;
		top: 0px;

		h2 {
			color: whitesmoke;
			font-family: "adriane",serif;
			font-weight: 300;
			letter-spacing: 4px;
			line-height: 70px;
			font-size: 64px;
			text-shadow: 0px 2px 6px #000;
			width: 50%;
			margin: 8% auto 2%;
			text-align: center;
		}


		a {
			margin: 0px auto;
			display: block;
			text-align: center;
			font-size: 30px;
			color: #d3222a;

			&:hover {
				color: #ba1e26;
			}
		}
	}
}
