/**hero unit**/


#hero {
	background-color: black;
	height: 780px;
	margin: 0 auto;
    width: 100%;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    z-index: 0;

    .hidden {
    	display: none;
    }

    .wheel {
    	display: none;
    }

    .full-width-bg {
		background: url(../img/rise_heading.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		height: 780px;
		margin: 0 auto;
	    width: 100%;
	    max-width: 1920px;
	    position: absolute;
	}

	.video-inner {
		video {
			height: 100%;
		}
	}

	.rise_title {
		z-index: 999;
		text-align: center;

		h1{
			color: whitesmoke;
			font-family: "adriane",serif;
			font-weight: 300;
			letter-spacing: 6px;
		   line-height: 53px;
		   font-size: 45px;
			text-shadow: 0px 2px 6px #000;
		}

		h3 {
			font-family: "proxima-nova",sans-serif;
			font-weight: 300;
			font-size: 14px;
			color: whitesmoke;
		}


	}
}

.line {
	height: 1px;
	width: 20px;
	background-color: white;
	display: block;
	margin: 30px auto;
}

#about {
	background: black url(../images/black-paper-sample-4.jpg) repeat top center;
	height: 800px;
	margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    overflow: hidden;
}

h2.quotedText {
	width: 100%;
	position: absolute;
	font-size: 2em;
	font-weight: 100;
	font-family: "proxima-nova",sans-serif;
	color: white;
	text-align: center;
	padding: 0px 20%;
	margin-top: 250px;

	span.quoteItalics {
		font-family: "adriane",serif;
		display: block;
		font-size: 24px;
		margin: 30px auto 0px;
		letter-spacing: 1px;
	}


	span.quoteMark {
		font-family: "adriane",serif;
		font-size: 42px;
		line-height: 75px;
		display: block;
		margin: 10px;
		height: 50px;
		width: 50px;
		border: 1px solid white;
		border-radius: 25px;
		margin: 0px auto 20px;
	}
}


.transBar {
	display: block;
	background-color: black;
	opacity: 0.4;
	position: fixed;
	z-index: 9999;
	width: 95px;
	height: 600px;
	margin-left: 0px;
}

.transBar-btm {
	display: block;
	background-color: black;
	opacity: 0.4;
	position: absolute;
	z-index: 9999;
	width: 100%;
	height: 4px;
	margin-bottom: 137px;
	bottom: 0px;
}

/*.lazy-hidden {
    background: transparent url(http://uk-microsites.ign.com/staging/fps-history/ajax-loader.gif) no-repeat 50% 50%;
}*/

/*
.lazy-hidden {
    opacity: 0;
}
.lazy-loaded {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
}
*/

#associated-content {
	display: block;
	background: transparent url(../images/opacity-60.png) repeat top left;
	opacity: 1;
	position: absolute;
	z-index: 9999;
	height: 137px;
	width: 100%;
	bottom: 0px;

	h4 a {
		font-family: "proxima-nova",sans-serif;
		font-weight: 100;
		font-size: 13px;
		color: whitesmoke;
		margin: 15px auto 10px;
		display: block;
		text-align: center;

		&:hover {
			color: grey;
		}
	}

	.ass-content-wrapper {
		width: 600px;
		position: relative;
		height: 70%;
		margin: auto;

		.content-sgl {
			width: 150px;
			height: 80%;
			display: block;
			background: #000;
			margin: 0px 25px;
			position: relative;
			float: left;
			-webkit-border-top-left-radius: 3px;
			-webkit-border-top-right-radius: 3px;
			-moz-border-radius-topleft: 3px;
			-moz-border-radius-topright: 3px;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			overflow: hidden;
			margin-top: 90px;

			img {
				max-width: 102%;
				margin-top: -20px;
				background: url("../images/loader.gif") no-repeat 50% 50%;
				display: block;
				min-height: 100px;
			}

			.video-overlay {
				background: transparent url(../images/opacity-60.png) repeat top left;
				position: absolute;
				width: 100%;
				bottom: 0px;
				height: 35px;
				color: whitesmoke;

				p {
					font-family: "proxima-nova",sans-serif;
					font-weight: 100;
					font-size: 10px;
					padding: 5px;
				}
			}
		}
	}
}


.associated-content-wrapper {
	display: block;
	background-color: transparent;
	opacity: 1;
	position: fixed;
	z-index: 9999;
	height: 141px;
	width: 100%;
	bottom: -100px;
}



/**preloader**/

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  /* change if the mask should have another color then white */
  z-index: 99999;
  /* makes sure it stays on top */
  opacity: 0.8;
}

/* line 680, ../sass/main.scss */
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 36em;
  /* centers the loading animation vertically one the screen */
  background-image: url(../images/loader.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}

/**end preloader**/

#no_age_cookie {
	display: none;
}


/**scroll down**/
span.scrollDown {
	color: whitesmoke;
	font-family: "adriane",serif;
	font-weight: 300;
	display: block;
	margin: 50px auto 0px;
	font-size: 28px;
	letter-spacing: 1px;
}

.scrollBtn {
	display: block;
	background: black url(../images/down_arrow.png) no-repeat top center;
	margin: 10px auto;
	height: 30px;
	width: 30px;
	background-size: contain;

}


.bounce {

	-webkit-animation: bounce 800ms ease-out;
	-moz-animation: bounce 800ms ease-out;
	-o-animation: bounce 800ms ease-out;
	animation: bounce 800ms ease-out;
}





/* Webkit, Chrome and Safari */

@-webkit-keyframes bounce {
  0% {
	-webkit-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-webkit-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-webkit-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-webkit-transform:translateY(-50%);
  }
  40% {
  	-webkit-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-webkit-transform:translateY(-30%);
  }
  70% {
  	-webkit-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-webkit-transform:translateY(-15%);
  }
  90% {
  	-webkit-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-webkit-transform:translateY(-10%);
  }
  97% {
  	-webkit-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-webkit-transform:translateY(-5%);
  }
  100% {
  	-webkit-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
	-moz-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-moz-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-moz-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-moz-transform:translateY(-50%);
  }
  40% {
  	-moz-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-moz-transform:translateY(-30%);
  }
  70% {
  	-moz-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-moz-transform:translateY(-15%);
  }
  90% {
  	-moz-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-moz-transform:translateY(-10%);
  }
  97% {
  	-moz-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-moz-transform:translateY(-5%);
  }
  100% {
  	-moz-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
	-o-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-o-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-o-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-o-transform:translateY(-50%);
  }
  40% {
  	-o-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-o-transform:translateY(-30%);
  }
  70% {
  	-o-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-o-transform:translateY(-15%);
  }
  90% {
  	-o-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-o-transform:translateY(-10%);
  }
  97% {
  	-o-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-o-transform:translateY(-5%);
  }
  100% {
  	-o-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  0% {
	transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	transform:translateY(-50%);
  }
  40% {
  	transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	transform:translateY(-30%);
  }
  70% {
  	transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	transform:translateY(-15%);
  }
  90% {
  	transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	transform:translateY(-7%);
  }
  97% {
  	transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	transform:translateY(-3%);
  }
  100% {
  	transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}
