/**fonts**/


@font-face {
    font-family: 'bignoodletitlingoblique';
    src: url('../fonts/big_noodle_titling_oblique-webfont.eot');
    src: url('../fonts/big_noodle_titling_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/big_noodle_titling_oblique-webfont.woff') format('woff'),
         url('../fonts/big_noodle_titling_oblique-webfont.ttf') format('truetype'),
         url('../fonts/big_noodle_titling_oblique-webfont.svg#bignoodletitlingoblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adobe_caslon_proregular';
    src: url('../fonts/adobe_caslon_pro-webfont.eot');
    src: url('../fonts/adobe_caslon_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adobe_caslon_pro-webfont.woff') format('woff'),
         url('../fonts/adobe_caslon_pro-webfont.ttf') format('truetype'),
         url('../fonts/adobe_caslon_pro-webfont.svg#adobe_caslon_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adobe_caslon_proitalic';
    src: url('../fonts/adobe_caslon_pro_italic-webfont.eot');
    src: url('../fonts/adobe_caslon_pro_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adobe_caslon_pro_italic-webfont.woff') format('woff'),
         url('../fonts/adobe_caslon_pro_italic-webfont.ttf') format('truetype'),
         url('../fonts/adobe_caslon_pro_italic-webfont.svg#adobe_caslon_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'galaxie-light';
  src: url('assets/fonts/GalaxiePolaris-Light.eot');
  src: local('☺'), url('../fonts/GalaxiePolaris-Light.ttf') format('truetype'), url('../fonts/GalaxiePolaris-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
} 


@font-face {
  font-family: 'galaxie-bold';
  src: url('assets/fonts/GalaxiePolaris-Bold.eot');
  src: local('☺'), url('../fonts/GalaxiePolaris-Bold.ttf') format('truetype'), url('../fonts/GalaxiePolaris-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'galaxie-book';
  src: url('assets/fonts/GalaxiePolaris-Book.eot');
  src: local('☺'), url('../fonts/GalaxiePolaris-Book.ttf') format('truetype'), url('../fonts/GalaxiePolaris-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'galaxie-medium';
  src: url('assets/fonts/GalaxiePolaris-Medium.eot');
  src: local('☺'), url('../fonts/GalaxiePolaris-Medium.ttf') format('truetype'), url('../fonts/GalaxiePolaris-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
	font-family: 'galaxie-light';
}

p, aside {
	font-family: 'galaxie-book';
}

a {
	font-family: 'galaxie-bold';
}