/**article styles**/
.video-hold {
	img {
		margin-top: -50px;
	}
}

.article {
	//background: black url(../images/black-paper-sample-4.jpg) repeat top center;
	background-color: whitesmoke;
	height: auto;
	margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    padding: 0em 8em 4em;
    overflow: hidden;

	.hidden {
		display: none;
	}

	.copy {
		width: 40%;
		position: relative;
		float: right;
		margin-top: 4em;

		p {
			margin: 20px 0px;
			font-size: 1.1em;
			text-align: justify;
			font-family: "proxima-nova",sans-serif;
			font-weight: 300;

			.bolden {
				font-family: "adriane",serif;
				font-size: 1.1em;
				line-height: 10px;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: #BB1D2B;
			}
		}
	}

	.underlay_bloka {
		background: whitesmoke;
		width: 50%;
		height: 100%;
		display: block;
		position: absolute;
		right: 0px;
		top: 0px;

		&.doom {
			//background: black url(../images/black-paper-sample-4.jpg) repeat top center;
			background-color: whitesmoke;
		}


		&.left {
			left: 0px;
		}
	}

	#block img {
		//position: absolute;
	}

	#block, #block_II, #block_III, #block_IV, #block_V, #block_VI, #block_VII,  #block_VIII {
		right: 0px;
		position: absolute;
		height: 600px;
		width: 100%;
		margin: 0px;
		//background: black url(../images/black-paper-sample-4.jpg) repeat top center;
		background-color: whitesmoke;
		top: 0px;

		&.stuck {
			z-index: 0;
			position: absolute;
		}

		&.stuckBtm {
			z-index: 0;
			bottom: 0px;
			top: auto;
		}

		.multi-img-bg {
			position: relative;
			width: 100%;
			height: 100%;
			margin-left: 50%;

			.vid-cont {
				margin-top: 4em;
			}

			video {
				padding-right: 4em;
			}

			&.moveLeft {
				margin-left: 0%;

				.vid-cont {
					margin-top: 4em;
				}

				video {
					padding-left: 4em;
					padding-right: 0px;
				}
			}


			img {
				/*margin-left: 25%;*/
			}


			/**image spans**/

			span {
				display: none;

				&.active {
					display: block;
				}
			}

			/**end image spans**/
		}
	}

	#block_III .fixed {
		position: relative;
	}

	&.middle-vid {
		width: 100%;
		margin: 0px;
		background: transparent;
		height: 3000px;

		h2.quotedText {
			//margin-left: -128px;
		}
	}

}

#block_VIII.stuck {

}

/**reveal**/
.reveal-modal {
	background-color: #181818;
	border: none;
}


/***subpages**/
.main {
	width: 100%;
	min-width: 980px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

h4 {
	margin: 0px;
	.close {
		position: absolute;
		color: white;
		z-index: 999;
		padding: 20px;
	}
}

#content-group {
	width: 100%;
	position: relative;
}

#primary-content, #subpage-right {
	float: left;
	overflow: hidden;
	position: relative;
	display: block;
	background-color: black;
	width: 100%;
}

#subpage-right {
	height: 100px;
}

/**modal styles**/
.reveal-modal.small {
	background: #000 url(../images/dark-suede-edited.jpg) top left repeat;
	height: 355px;
	width: 580px;
}

#start_modal {
	width: 40%;
	background: black url(../images/black-paper-sample-4.jpg) repeat top center;

	h2 {
		color: white;
		text-align: center;
		font-size: 32px;
		font-weight: 300;
	}

	#submit_birthdate {
		font-family: 'bignoodletitlingoblique';
		text-align: center;
		width: 100%;
		display: block;
		color: white;
		margin-top: -20px;
		font-weight: 300;

		&:hover {
			color: #ededed;
			text-shadow: none;
		}
	}

	p {
		text-align: center;
		color: white;

		a {
			color: #ededed;
		}
	}


	select {
	  width: 31%;
	  margin-bottom: 0px;
	  float: left;
	  margin-left: 2%;
	  font-size: 14px;
	}
}


h2.quote {
	position: fixed;
	z-index: 1;
	margin-top: 300px;
	text-align: center;
	width: 100%;
	color: white;
	margin-left: 250%;
	font-family: 'adobe_caslon_proitalic';
	font-size: 50px;
}

/**end modal styles**/


/**policy notice**/

#policyNotice {
   bottom: 2px;
  left: 50%;
  margin-left: -35%;
  width: 70%;
}

#policyNotice, #policyNotice p, #policyNotice a {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 11px;
    line-height: 11px;
}

#policyNotice {
    background-color: #FFFFCE;
    border: 1px solid #000000;
    color: #000000;
    padding: 10px 10px 0;
    position: fixed;
    z-index: 99999;
}

#policyNotice .close-btn {
    float: right;
    padding: 4px;
    position: relative;
    right: -8px;
    text-align: center;
    top: -5px;
}

#policyNotice a, #policyNotice a:visited {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

#policyNotice .close-btn a, #policyNotice .close-btn a:visited {
    color: #BA0D0D;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}
/**end policy notice**/


@media only screen
and (min-width : 1224px) {

	.article {
		padding: 0px 8em 4em;

		.copy p {
			margin: 20px 0px;
			font-size: 1.05em;
		}
	}
}

@media only screen
and (min-width : 1450px) {

	.article {
		.copy p {
			font-size: 1.1em;
			line-height: 28px;
		}
	}
}

/**media queries**/
@media only screen
and (max-width : 1224px) {

	h2.quotedText {
		font-size: 1.7em;
	}

	.article {
		padding: 0px 8em 4em;

		.copy p {
			margin: 20px 0px;
			font-size: 0.95em;
		}
	}
}

/**media queries**/



/***end media queries**/

#static {
	margin-top: -30px;
}
