/**flipping styles**/

.flip-container {
	perspective: 10000px;
	-webkit-perspective: 10000px;
}

/* flip the pane when hovered */
.flip-container.flip .flipper {
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
	transition: 0.5s;
	transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	display: block;
	//height: 370px;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
	background-size: contain;
	width: 100%;
}
