//The layout styles

#about {
   background: black url(../img/skyrim_environment-background-compressor.jpg) top center no-repeat;
   background-size: cover;
}

// .image_placeholder {
//    width: 100%;
//    height: 650px;
//    background-color: #4AB85D;
//    display: block;
//    position: relative;
// }



//moving blocks - TODO move into new scss file
#outer_wrapper {
   background-color: whitesmoke;
}

#article_3_4_wrapper {
   background-color: whitesmoke;
   width: 100%;
   max-width: 1920px;
   position: relative;

   .content_wrapper, .article, .article .underlay_bloka {
      background-color: transparent;
   }
}

#article_last {

   .copy {
      float: none;
      width: 70%;
      margin: 6em auto 20em;
   }

}

#section_one_change_block, #section_two_change_block {
   opacity: 0;
}

#block img {
  width: 30%;
  margin-left: 16%;
}

#block_II img {
  display: block;
  width: 30%;
  margin-right: 16%;
  float: right;
}

#article_3 #block_III {
   position: absolute;
   background-color: transparent;
   height: 100vh;
   width: 50vw;
   left: 0;

   img {
      width: 100%;
   }
}

#article_4 #block_IV {
   position: absolute;
   background-color: transparent;
   height: 100vh;
   width: 50vw;
   right: 0;

   img {
      width: 100%;
   }
}

#section_three_change_block {
   height: 84%;
   width: 84%;
   padding: 8%;
   left: 8%;
   top: 8%;
   overflow: hidden;
}

#section_four_change_block {
   height: 84%;
   width: 84%;
   padding: 8%;
   left: 8%;
   top: 8%;
   overflow: hidden;
}

#foreground_hill {
   position: absolute;
   right: 0px;
}

#quote_1 {
   opacity: 0;
   margin-top: 50px;
}

#quote_2 {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
}

#quote_3 {
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   transform: translateX(100%);
   width: 100%;
}



.panel_wipe, .panel_wipe_2 {
	height: 100%;
	width: 100%;
	position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}


//article styles
.article {

   &__2 {
      //background-color: #FFD7EB;
   }

   &__3 {

   }

}

.moving_clouds {
  background: url(../img/cloud.png) 0 50% repeat-x;

  -webkit-animation: animate-cloud 10s linear infinite;
  -moz-animation: animate-cloud 10s linear infinite;
  -ms-animation: animate-cloud 10s linear infinite;
  -o-animation: animate-cloud 10s linear infinite;
  animation: animate-cloud 10s linear infinite;

  margin-top: 250px;
  height: 500px;
  width: 100%;

  position: absolute;
  overflow: hidden;
  clear: both;
  z-index: 0;
  opacity: 0.25;
}



/**key frames**/

@-webkit-keyframes animate-cloud {
  from {
    background-position: 600px 100%;
  }
  to {
    background-position: 0 100%;
  }
}
@-moz-keyframes animate-cloud {
  from {
    background-position: 600px 100%;
  }
  to {
    background-position: 0 100%;
  }
}
@-ms-keyframes animate-cloud {
  from {
    background-position: 600px 100%;
  }
  to {
    background-position: 0 100%;
  }
}
@-o-keyframes animate-cloud {
  from {
    background-position: 600px 100%;
  }
  to {
    background-position: 0 100%;
  }
}
.animate-cloud-key from {
  background-position: 600px 100%;
}
.animate-cloud-key to {
  background-position: 0 100%;
}

/**end keyframes**/
