//ad styles

.mpu {

   &__wrapper {



   }

   &__anchor {

      width: 300px;
      display: block;
      margin: 20px auto;
      height: 250px;
      background-image: url("../img/ads/MY_EUR_WTCHR3_300x250_STATIC.JPG");

      img {
         width: 100%;
      }

   }
}
